<div class = "home">
<h1 class = "h1">Welcome to Employee Portal</h1>
<div class = "welcome"><p>Admin or Employee?</p></div>
<div class = "link">
<%= link_to "Admin", login_admin_url, class: "btn btn-lg btn-primary" %>
<br>
<%= link_to "Employee", login_employee_url, class: "btn btn-lg btn-primary" %>
</div>
</div>
